{% extends 'layout/base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<main class="size-full flex flex-col justify-center items-center">
    <div class="card bg-base-100 w-full max-w-sm shrink-0">
        <div class="card-body pb-36">
            <h1 class="form-control text-4xl text-center font-bold mb-4">
                Piggy Flow
            </h1>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Username</span>
                </label>
                <input type="text" placeholder="Username" class="input input-bordered" id="username" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" id="password"/>
                <label class="label">
                    <!-- <a href="#" class="label-text-alt link link-hover">Forgot password?</a> -->
                </label>
                <p class="text-error" id="error"></p>
            </div>
            <div class="form-control mt-6">
                <button class="btn btn-primary" id="submit" >Login</button>
            </div>
        </div>
    </div>
</main>
<script type="module" src="/static/js/page/login.js"></script>
{% endblock %}