<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/components/vite-lit-components.css">
  <script type="module" src="/static/components/vite-lit-components.js"></script>
  <title>Test 2</title>
</head>

<body>
  <tp-sidebar title="Piggy Flow">
    <div name="main">
      123
    </div>
  </tp-sidebar>

  <script>
    document.querySelector('tp-sidebar').items = [{
      text: '設計理念',
      items: [
        { text: '設計概念', link: '/design/overview' },
        { text: '設計價值觀', link: '/design/designValues' },
        { text: '模組化', link: '/design/modularDesign' },
        { text: '前後端分離', link: '/design/FBS' },
        { text: 'API 風格', link: '/design/apiStyle' },
      ]
    },
    {
      text: '軟件需求',
      items: [
        { text: '框架圖', link: '/design/requirements/overPhoto' },
        { text: '編程語言', link: '/design/requirements/language' },
        { text: '前端框架', link: '/design/requirements/FrontEnd' },
        { text: '後端框架', link: '/design/requirements/BackEnd' },
        { text: '其他工具', link: '/design/requirements/otherTool' }
      ]
    },
    {
      text: '測試遞歸items',
      items: [
        {
          text: '框架圖', link: '/design/requirements/overPhoto',
          items: [
            { text: '框架圖', link: '/design/requirements/overPhoto' },
            { text: '編程語言', link: '/design/requirements/language' },
          ]
        }
      ]
    },
    ]
    console.log(document.querySelector('tp-sidebar').items)
  </script>
</body>

</html>