<!DOCTYPE html>
<html class="size-full" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/output.css"> -->
    <link rel="stylesheet" href="/static/components/vite-lit-components.css">
    <script type="module" src="/static/components/vite-lit-components.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<!-- data-theme="black" -->
<body class="size-full">
    <script src="static/js/page/init.js" type="module"></script>
    {% block body %}{% endblock %}
</body>

</html>